@import '../../Variables.scss';

.wrapper {
    border: none;
    cursor: pointer;
    font-family: $font-family;
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
}

.add {
    background-color: $primary-color;
    color: #fff;
}

.editBtn {
    background-color: $primary-color;
    color: #fff;
}

.deleteBtn {
    background-color: #dc3545;
    color: #fff;
}

.cancel {
    background-color: $primary-color;
    color: #fff;
}

.submit {
    background-color: $primary-color;
    color: #fff;
}
